.dispatchers-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 85%;
}
.dispatchers-container>div{
    width: 50%;
}

.dispatchers-img-div{
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.dispatchers-img-div img{
    width: 90%;
}
.something-light{
    color: #1d1d1f;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}
.just-for-dispatchers{
    color: #777777;
    font-family: GT Super Display Bold;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.dispatchers-txt{
    color: #1d1d1f;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 20px;
    line-height: 25px;
    width: 100%;
}
.dispatchers-btns-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 390px;
}

.dispatchers-btn{
    background-color: #000;
    border: none;
    display: flex;
    align-items: center;
    color: #ffffff;
    align-items: center;
    border-radius: 10px;
    align-items: center;
    padding: 12px 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.dispatchers-btn:hover{
    cursor: pointer;
}
.dispatchers-btn-txt{
    display: flex;
    flex-direction: column;
}
.dispatchers-btn-txt1{
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 12px;
    font-weight: 500;
    margin-left: 0;
    text-align: left;
}
.dispatchers-btn-txt2{
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 16px;
    font-weight: 500;
    margin-left: 0;
    text-align: left;
}
.dispatchers-btn-icon{
    font-size: 30px;
    margin-right: 10px;
}
.dispatchers-list-item{
    align-items: center;
    display: flex;
    margin-left: 0;
    width: 250px;
}
.dispatchers-list-item>div{
    border: 1px solid #ffaa0033;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    align-items: center;
    height: 50px;
    width: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}
.dispatchers-list-item>div>*{
    color: #ffaa00;
    font-size: 20px;
}
.dispatchers-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
}
.dispatchers-txt{
    margin-bottom: 40px;
}
.dispatchers-list-item>p{
    color: #1d1d1f;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    width: 70%;
}

@media only screen and (min-width: 360px)
and (max-width: 600px) {}
@media only screen and (min-width: 360px)
and (max-width: 599px) {
    .dispatchers-container{
        flex-direction: column;
        margin-bottom: 100px;
    }
    .dispatchers-container>div{
        width: 100%;
    }
    .just-for-dispatchers{
        font-size: 24px;
        line-height: 1em;
        text-align: center;
    }
    .something-light{
        font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
        font-size: 24px;
        line-height: 1em;
        margin-bottom: 5px;
        text-align: center;
    }
    .dispatchers-txt>p{
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }
    .dispatchers-list-item{
        margin: 0 auto;
    }
    .dispatchers-list-item>p{
        width: 68%;
        text-align: left;
    }
    .dispatchers-btns-container{
        flex-direction: column;
        height: 150px;
        margin: 0 auto;
        margin-top: 50px;
        width: 200px;
    }
    .dispatchers-btn{
        padding: 14px 24px;
        width: 200px;
    }
}

@media only screen and (min-width: 600px) 
and (max-width: 767px){
    .dispatchers-container{
        flex-direction: column;
    }
    .dispatchers-container>div{
        width: 100%;
    }
    .just-for-dispatchers{
        font-size: 24px;
        text-align: center;
    }
    .something-light{
        font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
        font-size: 24px;
        margin-bottom: 5px;
        text-align: center;
    }
    .dispatchers-txt>p{
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }
    .dispatchers-list-item{
        margin: 0 auto;
    }
    .dispatchers-list-item>p{
        width: 68%;
        text-align: left;
    }
    .dispatchers-btns-container{
        flex-direction: column;
        height: 150px;
        margin: 0 auto;
        margin-top: 50px;
        width: 200px;
    }
    .dispatchers-btn{
        padding: 14px 24px;
        width: 200px;
    }
}

@media only screen and (min-width: 768px) 
and (max-width: 991px){
    .dispatchers-container{
        flex-direction: column;
    }
    .dispatchers-container>div{
        width: 100%;
    }
    .something-light{
        font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
        font-size: 36px;
        line-height: 1em;
        margin-bottom: 5px;
        text-align: center;
    }
    .just-for-dispatchers{
        font-size: 36px;
        line-height: 1em;
        text-align: center;
    }
    .dispatchers-txt>p{
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .dispatchers-list-item{
        margin: 0 auto;
    }
    .dispatchers-list-item>p{
        width: 68%;
        text-align: left;
    }
    .dispatchers-btns-container{
        flex-direction: column;
        height: 150px;
        margin: 0 auto;
        margin-top: 50px;
        width: 200px;
    }
    .dispatchers-btn{
        padding: 14px 24px;
        width: 200px;
    }
}

@media only screen and (min-width: 992px) 
and (max-width: 1023px){
    .dispatchers-container{
        flex-direction: column;
        margin-left: 100px;
        margin-right: 100px;
    }
    .dispatchers-container>div{
        width: 100%;
    }
    .something-light{
        font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
        font-size: 36px;
        margin-bottom: 15px;
        text-align: center;
    }
    .just-for-dispatchers{
        font-size: 36px;
        margin-bottom: 15px;
        text-align: center;
    }
    .dispatchers-txt>p{
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .dispatchers-list-item{
        margin: 0 auto;
    }
    .dispatchers-list-item>p{
        width: 68%;
        text-align: left;
    }
    .dispatchers-btns-container{
        margin: 0 auto;
        margin-top: 50px;
        width: 430px;
    }
    .dispatchers-btn{
        padding: 14px 24px;
        width: 200px;
    }
}

@media only screen and (min-width: 1024px) 
and (max-width: 1279px){
    .dispatchers-container{
        width: 95%;
    }
    .dispatchers-child2{
    }
    .dispatchers-txt{
    }
    .something-light{
        line-height: 1em;
        margin-bottom: 5px;
    }
    .just-for-dispatchers{
        line-height: 1em;
    }
    .dispatchers-txt>p{
        line-height: 1.5em;
        width: 100%;
    }
    .dispatchers-list>div{
        margin-left: 0;
    }
    .dispatchers-btns-container{
        margin-left: 0;
    }
}
@media only screen and (min-width: 1280px) {
    .dispatchers-btns-container{
        margin-left: 0;
    }
}