.faq-container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 40px;
    width: 90%;
}
.faq-description{
    height: 330px;
    width: 38%;
}
.faq-description>h1{
    color: #1d1d1f;
    font-family: GT Super Display Bold;
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 0;
}
.faq-description>h2{
    color: #777777;
    font-family: GT Super Display Bold;
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 0;
}
.faq-description>p{
    font-size: 18px;
}
.faq-description>div{
    margin-top: 40px;
}
.faq-description>div>a>button{
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    border-radius: 30px;
    color: #1d1d1f;
    font-family: TT Norms Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif!important;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 40px;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.faq-description>div>a>button:hover{
    background-color: #000;
    cursor: pointer;
    color: #ffffff;
}
.faq-questions{
    display: block;
    width: 55%;
}
.faq-questions>div{
    background-color: #f8f8f8;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 20px 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.hidden-div{
    display: none;
    color: inherit;
    font-size: 20px;
    line-height: 30px;
    margin-top: 8px;
    min-height: 5px;
}
.seen-div{
    box-sizing: border-box;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seen-div:hover{
    cursor: pointer;
}
.faq-text{
    font-size: 24px;
    font-weight: 500;
    margin-left: 0;
}
.faq-icon{
    display: flex;
    color: #ececec;
    align-items: center;
    font-size: 50px;
    margin-right: 0;
}

@media only screen and (min-width: 360px)
and (max-width: 600px) {}
@media only screen and (min-width: 360px)
and (max-width: 600px) {
    .faq-container{
        flex-direction: column;
    }
    .faq-description>h1,.faq-description>h2{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .faq-description>p{
        font-size: 16px;
        line-height: 25px;
    }
    .faq-description, .faq-questions{
        width: 100%;
    }
    .faq-questions{
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
}
    .more-faq-btn{
        margin: 0 auto;
    }
    .faq-text{
        font-size: 18px;
        margin-left: 0;
    }
    .faq-icon{
        margin-right: 0;
    }
}

@media only screen and (min-width: 600px) 
and (max-width: 767px){
    .faq-container{
        flex-direction: column;
    }
    .faq-description>h1,.faq-description>h2{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .faq-description>p{
        font-size: 16px;
        line-height: 25px;
    }
    .faq-description, .faq-questions{
        width: 100%;
    }
    .faq-questions{
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
}
    .more-faq-btn{
        margin: 0 auto;
    }
    .faq-text{
        font-size: 18px;
        margin-left: 0;
    }
    .faq-icon{
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) 
and (max-width: 991px){
    .faq-description>h1{
        font-size: 60px;
    }
    .faq-container>div{
        width: 48%;
    }
    .faq-description>h2{
        font-size: 36px;
        margin-bottom: 10px;
    }
    .faq-description>p{
        font-size: 18px;
        line-height: 25px;
    }
    .faq-questions{
        width: 40%;
    }
    .faq-questions>div{
        margin-right: 0;
        width: 90%;
}
    .more-faq-btn{
        margin: 0 auto;
    }
    .faq-text{
        font-size: 24px;
    }
}

@media only screen and (min-width: 992px) 
and (max-width: 1279px){
    .faq-container{
        width: 90%;
    }
    .faq-container>div{
        width: 48%;
    }
    .faq-questions>div{
        margin-right: 0;
        width: 94%;
    }
}

@media only screen and (min-width: 1280px) {}