.quick-tour-slant{
    position: absolute;
    background-color: #feebc833;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    height: 870px;
    min-width: 100vw;
    left: 0;
    right: 0;
    top: 1695px;
    z-index: -1;
}
.usecases-slant{
    position: absolute;
    background-color: #feebc833;
    clip-path: polygon(0 4.5%, 100% 0, 100% 90%, 0 100%);
    height: 1000px;
    min-width: 100vw;
    left: 0;
    right: 0;
    top: 2520px;
    z-index: -1;
}
.pricing-slant{
    position: absolute;
    background-color: #feebc833;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    height: 1000px;
    min-width: 100vw;
    left: 0;
    right: 0;
    top: 5200px;
    z-index: -1;
}
.footer-slant{
    position: absolute;
    background-color: #fafafa;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    height: 640px;
    width: 100vw;
    left: 0;
    right: 0;
    top: 8250px;
    z-index: -1;
}
/* .faq-slant{
    position: absolute;
    background-color: #fafafa;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    height: 620px;
    width: 100%;
    left: 0;
    right: 0;
    top: 2450px;
    z-index: -1;
} */
/* .article-slant{
    position: absolute;
    background-color: #fafafa;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    height: 620px;
    width: 100%;
    left: 0;
    right: 0;
    top: 10000px;
    z-index: -1;
} */



@media only screen and (min-width: 360px)
and (max-width: 600px) {
    .quick-tour-slant{
        clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
        height: 980px;
        /* width: 100%; */
        top: 530px;
    }
    .usecases-slant{
        clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%);
        height: 1870px;
        /* width: 100%; */
        top: 1490px;
    }
    .pricing-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 1%, 100% 0, 100% 98.5%, 0 100%);
        height: 1450px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 5770px;
        z-index: -1;
    }
    .footer-slant{
        position: absolute;
        background-color: #fafafa;
        clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
        height: 800px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 10200px;
        z-index: -1;
    }
}

@media only screen and (min-width: 600px) 
and (max-width: 767px){
    .quick-tour-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 3%, 100% 0, 100% 96%, 0 100%);
        height: 990px;
        /* width: 100%; */
        left: 0;
        top: 500px;
        z-index: -1;
    }
    .usecases-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 2.3%, 100% 0, 100% 99%, 0 100%);
        height: 1790px;
        /* width: 100%; */
        left: 0;
        top: 1450px;
        z-index: -1;
    }
    .pricing-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
        height: 1670px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 5650px;
        z-index: -1;
    }
    .footer-slant{
        position: absolute;
        background-color: #fafafa;
        clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
        height: 1100px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 10000px;
        z-index: -1;
    }
}

@media only screen and (min-width: 768px) 
and (max-width: 991px){
    .quick-tour-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 3%, 100% 0, 100% 95%, 0 100%);
        height: 1170px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 1240px;
        z-index: -1;
    }
    .usecases-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 4.5%, 100% 0, 100% 97%, 0 100%);
        height: 1370px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 2350px;
        z-index: -1;
    }
    .pricing-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
        height: 1800px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 6300px;
        z-index: -1;
    }
    .footer-slant{
        position: absolute;
        background-color: #fafafa;
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
        height: 580px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 10590px;
        z-index: -1;
    
    }
}

@media only screen and (min-width: 992px) 
and (max-width: 1023px){
    .quick-tour-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
        height: 1150px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 1500px;
        z-index: -1;
    }
    .usecases-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 7.5%, 100% 0, 100% 95%, 0 100%);
        height: 1350px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 2555px;
        z-index: -1;
    }
    .footer-slant{
        position: absolute;
        background-color: #fafafa;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        height: 620px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 10650px;
        z-index: -1;
    
    }
}
@media only screen and (min-width: 1024px) 
and (max-width: 1279px){
    .quick-tour-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 6%, 100% 0, 100% 95%, 0 100%);
        height: 952px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 1550px;
        z-index: -1;
    }
    .usecases-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 4.5%, 100% 0, 100% 95%, 0 100%);
        height: 1000px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 2455px;
        z-index: -1;
    }
    .pricing-slant{
        position: absolute;
        background-color: #feebc833;
        clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
        height: 1000px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 5250px;
        z-index: -1;
    }
    .footer-slant{
        position: absolute;
        background-color: #fafafa;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        height: 600px;
        /* width: 100%; */
        left: 0;
        right: 0;
        top: 8300px;
        z-index: -1;
    
    }
}

@media only screen and (min-width: 1280px) {}